# File: debug.config (add to linux_cfg_frag)
CONFIG_DEBUG_INFO=y
CONFIG_KGDB=y
CONFIG_KGDB_SERIAL_CONSOLE=y # Enable KGDB over serial
CONFIG_FRAME_POINTER=y # Optional, improves backtraces
CONFIG_ARCH_VEXPRESS=y # Optional, confirm compatibility with RPi4

#CONFIG_HAVE_ARCH_KGDB=y
#CONFIG_KGDB=y
#CONFIG_KGDB_HONOUR_BLOCKLIST=y
#CONFIG_KGDB_SERIAL_CONSOLE=y
