wrkdir/
.cache/
*~undo-tree~
env.txt

SDCard

# Files
build.log
bao-venv/
compile_commands.json
.tar.gx
__pycache__/

# Backup images
guests/px4/imgs/
guests/px4/linux/buildroot/imgs/
guests/px4/linux-cam/buildroot/rootfs_overlays/var/
guests/px4/linux-cam/buildroot/rootfs_overlays_backup/
platforms/rpi4/gdb/no-dbg
platforms/rpi4/gdb/dbg-point
