docopt==0.6.2
file-magic==0.4.1
flake8==7.1.2
mccabe==0.7.0
meson==1.7.0
packaging==24.2
pycodestyle==2.12.1
pyelftools==0.32
pyflakes==3.2.0
pykwalify==1.8.0
python-dateutil==2.9.0.post0
ruamel.yaml==0.18.10
setuptools==75.8.1
six==1.17.0
wheel==0.45.1
