CONFIG_BROADCOM_PHY=y
CONFIG_BCMGENET=y
#### SPI Configuration
# spidev
CONFIG_SPI_BCM2835=y
CONFIG_SPI_BCM2835AUX=y
CONFIG_SPI_SPIDEV=y
#CONFIG_SPI_GPIO=y
#CONFIG_SPI_SUN4I=y
#CONFIG_SPI_SUN6I=y
#CONFIG_SPI=y
#CONFIG_SPI_MASTER=y
#CONFIG_SPI_SLAVE=y
#CONFIG_EXPERIMENTAL=y
#CONFIG_SPI_SPIDEV=y
# sc16is752 (/dev/ttySC0 and /dev/ttySC1)
# CONFIG_SERIAL_SC16IS7XX_CORE=y # 6.1 and 6.6
CONFIG_SERIAL_SC16IS7XX=y
CONFIG_SERIAL_SC16IS7XX_I2C=y
CONFIG_SERIAL_SC16IS7XX_SPI=y
# PWM
CONFIG_PWM_BCM2835=y
CONFIG_PWM_PCA9685=y
# I2C
CONFIG_I2C_BCM2835=y
#CONFIG_I2C_BCM2708=y # 6.1 and 6.6
CONFIG_I2C_MUX_GPIO=y
CONFIG_I2C_MUX_GPMUX=y
CONFIG_MUX_GPIO=y
CONFIG_I2C_MUX_PINCTRL=y
CONFIG_I2C_MUX_REG=y
#
# Boot options
#
# CONFIG_ARM64_ACPI_PARKING_PROTOCOL is not set
#CONFIG_CMDLINE="console=ttyAMA0,115200"
##CONFIG_CMDLINE_FROM_BOOTLOADER=y
#CONFIG_CMDLINE_FORCE=y
